
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ProgiBidder</title>
            {{ encore_entry_link_tags('app') }}

            {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        <div id="vue-app">
            {# This is where the Vue app will be mounted #}
        </div>
    </body>
</html>
